[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
ipykernel = "*"
rpy2 = "*"
julia = "*"
requests = "*"
bs4 = "*"
pydfs-lineup-optimizer = "*"

[dev-packages]

[requires]
python_version = "3.8"
